body {
    margin: 0;
    padding-top: 80px;
    padding-right: 24px;
    background-color: rgb(245, 245, 245);
}


@media (max-width: 1200px) {
    body {
        padding-left: 96px;

    }
}

@media (min-width: 1200.1px) {
    body {
        padding-left: 210px;
    }
}

p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}